#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#aparatifContent, #dessertContent {
  display: block;
}
.cart {
  position: absolute;
  right: 0;
  top: 0;
}
.cartItem{
  text-align: left;
}
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
}

.content {
  display: none;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
.product{
  display: flex;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  background: var(--gradient-o-1, linear-gradient(90deg, #FFF1E8 5.37%, rgba(255, 255, 255, 0.00) 97.38%));
  margin-bottom: 10px;
  align-items: center;
}
.product p{
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
.product img {
  border-radius: 13px;
  max-width: 90px;
  max-height: 80px;
}
.productBtn {
  padding: 0;
  border: none;
  background: none;
  padding-left: 10px;
}